<div *ngIf="!hasMainCharacter && !loading" class="d-flex p-2 justify-content-center">
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <button *ngIf="!hasMainCharacter && !loading" class="btn btn-primary" (click)="createCharacter()" >
        Create your character
    </button>
</div>

<fighter *ngIf="hasMainCharacter" [fighter]="fighter"></fighter>

<div *ngIf="hasMainCharacter && !gameHasStarted && !loading" class="d-flex p-2 justify-content-center">
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <button *ngIf="!gameHasStarted && !loading" class="btn btn-primary" (click)="start()" >
        Start Game
    </button>
</div>
